.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #A3C940;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  color: #FAFBFD;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 48px;
    font-family: bold;
  }
  .header h1 span {
    display: none;
  }
}

.header .h-con {
  transition: all 1s ease;
  height: 80px;
}

.header .h-con .h-del, .header .h-con .h-edi, .header .h-con .h-new, .header .h-con .h-welcome {
  display: inline-block;
  color: #FAFBFD;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  padding: 0 20px;
}

.header .h-con .h-del:hover, .header .h-con .h-edi:hover, .header .h-con .h-new:hover, .header .h-con .h-welcome:hover {
  background-color: #93b53a;
}

.header .h-con .h-del i, .header .h-con .h-edi i, .header .h-con .h-new i, .header .h-con .h-welcome i {
  margin-right: 10px;
}

.header .h-con .h-welcome {
  display: none;
}

.header .h-con .h-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1280px) {
  .header .h-con .h-welcome {
    display: inline-block;
  }
  .header .h-con .h-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1002px) {
  .header .h-con {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-320px);
        -ms-transform: translateY(-320px);
            transform: translateY(-320px);
  }
  .header .h-con .h-item {
    background-color: #A3C940;
    width: 180px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    padding: 0;
  }
  .header .h-con .h-welcome {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .h-con .h-del {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .header .h-con .h-edi {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .h-con .h-new {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}

.header .welcome {
  cursor: pointer;
  margin-right: 80px;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  color: #FAFBFD;
}

.header .welcome:hover {
  background-color: #93b53a;
}

.header .welcome i {
  margin-right: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 1280px) {
  .header .welcome {
    display: none;
  }
}

.header .menu-btn {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  width: 180px;
  height: 80px;
  display: none;
  transition: all 0.6s ease;
}

@media screen and (max-width: 1002px) {
  .header .menu-btn {
    display: block;
  }
}

.header .menu-btn .btn-box {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 50px;
}

@media screen and (max-width: 480px) {
  .header .menu-btn .btn-box {
    right: 20px;
  }
}

.header .menu-btn .btn-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 4px;
  background-color: #FAFBFD;
}

.header .menu-btn .btn-box span:before, .header .menu-btn .btn-box span:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #FAFBFD;
  left: 0;
  transition: all 0.6s ease;
}

.header .menu-btn .btn-box span:before {
  top: 14px;
}

.header .menu-btn .btn-box span:after {
  top: -14px;
}

.header .menu-btn.active {
  right: 130px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .header .menu-btn.active {
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .header .menu-btn.active .btn-box {
    right: 50px;
  }
}

.header .menu-btn.active .btn-box span:before {
  width: 25px;
  left: 30px;
  top: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn.active .btn-box span:after {
  width: 25px;
  left: 30px;
  top: -8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.h-con.active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 768px) {
  .h-con.active {
    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);
  }
}

.aside {
  width: 200px;
  height: calc(100% - 80px);
  background-color: #FAFBFD;
  position: fixed;
  top: 80px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.aside::-webkit-scrollbar {
  display: none;
}

.aside label {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.aside label:after {
  position: absolute;
  right: 0.5em;
  top: 1em;
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.9);
}

.aside input {
  display: none;
}

.aside input:checked + label {
  background-color: #E0E0E0;
}

.aside input:checked + label:after {
  right: 0.5em;
  top: 0.8em;
  border: 5px solid transparent;
  border-bottom: 5px solid rgba(255, 255, 255, 0.9);
}

.aside .pro-box {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.aside .pro-box ul {
  list-style: none;
  padding: 0.2em;
  margin: 0;
}

.aside .pro-box ul li {
  height: 32px;
  line-height: 32px;
  font-size: 1em;
  background-color: white;
  padding-left: 20px;
  cursor: pointer;
}

.aside .pro-box ul li:not(:last-child) {
  margin-bottom: 0.2em;
}

.aside input:checked ~ .pro-box.pi-3 {
  height: calc(96px + 0.8em);
}

.aside input:checked ~ .pro-box.pi-4 {
  height: calc(128px + 1em);
}

.aside input:checked ~ .pro-box.pi-5 {
  height: calc(160px + 1.2em);
}

.aside input:checked ~ .pro-box.pi-6 {
  height: calc(192px + 1.4em);
}
