@charset "UTF-8";
html {
  background-color: #959595;
}

.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #A3C940;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #93b53a;
}

.header h1 {
  color: #FAFBFD;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 48px;
    font-family: bold;
  }
  .header h1 span {
    display: none;
  }
}

.header .h-con {
  transition: all 1s ease;
  height: 80px;
}

.header .h-con .h-del, .header .h-con .h-edi, .header .h-con .h-new, .header .h-con .h-welcome {
  display: inline-block;
  color: #FAFBFD;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  padding: 0 20px;
}

.header .h-con .h-del:hover, .header .h-con .h-edi:hover, .header .h-con .h-new:hover, .header .h-con .h-welcome:hover {
  background-color: #93b53a;
}

.header .h-con .h-del i, .header .h-con .h-edi i, .header .h-con .h-new i, .header .h-con .h-welcome i {
  margin-right: 10px;
}

.header .h-con .h-welcome {
  display: none;
}

.header .h-con .h-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1280px) {
  .header .h-con .h-welcome {
    display: inline-block;
  }
  .header .h-con .h-item:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1002px) {
  .header .h-con {
    display: none;
  }
}

.header .welcome {
  cursor: pointer;
  margin-right: 20px;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  color: #FAFBFD;
}

.header .welcome:hover {
  background-color: #93b53a;
}

.header .welcome i {
  margin-right: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 1280px) {
  .header .welcome {
    display: none;
  }
}

.header .welcome-nav {
  z-index: 998;
  display: none;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-324px);
      -ms-transform: translateY(-324px);
          transform: translateY(-324px);
  transition: all 1s ease;
}

@media screen and (max-width: 1002px) {
  .header .welcome-nav {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .header .welcome-nav {
    width: 100%;
  }
  .header .welcome-nav ul {
    width: 100%;
  }
  .header .welcome-nav ul li {
    width: 100%;
  }
}

.header .welcome-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .welcome-nav ul li {
  cursor: pointer;
  width: 180px;
  height: 80px;
  line-height: 80px;
  background-color: #A3C940;
  text-align: center;
  color: #FAFBFD;
}

@media screen and (max-width: 480px) {
  .header .welcome-nav ul li {
    width: 100%;
  }
}

.header .welcome-nav ul li:first-child {
  height: 81px;
}

.header .welcome-nav ul li:last-child {
  border-bottom: 1px solid #93b53a;
}

.header .welcome-nav ul li:hover {
  background-color: #93b53a;
}

.header .welcome-nav ul li:not(:last-child) {
  border-bottom: 1px solid #FAFBFD;
}

.header .welcome-nav ul li i {
  margin-right: 20px;
}

.header .welcome-nav.active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 768px) {
  .header .welcome-nav.active {
    -webkit-transform: translateY(81px);
        -ms-transform: translateY(81px);
            transform: translateY(81px);
  }
  .header .welcome-nav.active li:first-child {
    margin-top: 1px;
  }
}

.header .menu-btn {
  z-index: 1000;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  width: 180px;
  height: 80px;
  display: none;
  transition: all 0.6s ease;
}

@media screen and (max-width: 1002px) {
  .header .menu-btn {
    display: block;
  }
}

.header .menu-btn .btn-box {
  transition: all 0.6s ease;
  position: absolute;
  width: 80px;
  height: 80px;
  right: 5px;
}

@media screen and (max-width: 480px) {
  .header .menu-btn .btn-box {
    right: 5px;
  }
}

.header .menu-btn .btn-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 4px;
  background-color: #FAFBFD;
}

.header .menu-btn .btn-box span:before, .header .menu-btn .btn-box span:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #FAFBFD;
  left: 0;
  transition: all 0.6s ease;
}

.header .menu-btn .btn-box span:before {
  top: 14px;
}

.header .menu-btn .btn-box span:after {
  top: -14px;
}

.header .menu-btn.active {
  right: 170px;
}

@media screen and (max-width: 768px) {
  .header .menu-btn.active {
    right: 0;
  }
}

.header .menu-btn.active .btn-box {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header .menu-btn.active .btn-box span:before {
  width: 25px;
  left: 30px;
  top: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn.active .btn-box span:after {
  width: 25px;
  left: 30px;
  top: -8px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.h-con.active {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

@media screen and (max-width: 768px) {
  .h-con.active {
    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);
  }
}

.aside {
  width: 200px;
  height: calc(100% - 80px);
  background-color: #FAFBFD;
  position: fixed;
  z-index: 50;
  top: 80px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .aside {
    transition: all 0.6s ease;
    -webkit-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.aside::-webkit-scrollbar {
  display: none;
}

.aside label {
  position: relative;
  z-index: 20;
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.aside label:after {
  position: absolute;
  right: 0.5em;
  top: 1em;
  content: "";
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-top: 5px solid black;
}

.aside input {
  display: none;
}

.aside input:checked + label {
  background-color: #E0E0E0;
}

.aside input:checked + label:after {
  right: 0.5em;
  top: 0.8em;
  border: 5px solid transparent;
  border-bottom: 5px solid black;
}

.aside .pro-box {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.aside .pro-box ul {
  list-style: none;
  padding: 0.2em;
  margin: 0;
}

.aside .pro-box ul li {
  height: 32px;
  line-height: 32px;
  font-size: 1em;
  background-color: white;
  padding-left: 20px;
  cursor: pointer;
}

.aside .pro-box ul li:not(:last-child) {
  margin-bottom: 0.2em;
}

.aside input:checked ~ .pro-box.pi-3 {
  height: calc(96px + 0.8em);
}

.aside input:checked ~ .pro-box.pi-4 {
  height: calc(128px + 1em);
}

.aside input:checked ~ .pro-box.pi-5 {
  height: calc(160px + 1.2em);
}

.aside input:checked ~ .pro-box.pi-6 {
  height: calc(192px + 1.4em);
}

.aside.active {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.main {
  margin-top: 81px;
  margin-left: 200px;
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

.main .project {
  z-index: 50;
  cursor: pointer;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #A3C940;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  bottom: 20px;
  text-align: center;
  color: #FAFBFD;
  transition: all 0.6s ease;
  display: none;
}

@media screen and (max-width: 768px) {
  .main .project {
    display: block;
  }
}

.main .project.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 220px;
}

.main .main-top-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E0E0E0;
}

@media screen and (max-width: 600px) {
  .main .main-top-bar {
    display: block;
  }
  .main .main-top-bar .bar-sm {
    *zoom: 1;
    display: block;
    border-bottom: 1px solid #959595;
  }
  .main .main-top-bar .bar-sm:before, .main .main-top-bar .bar-sm:after {
    display: table;
    content: '';
    line-height: 0;
  }
  .main .main-top-bar .bar-sm:after {
    clear: both;
  }
  .main .main-top-bar .bar-sm .bar-sm-btn {
    cursor: pointer;
    background-color: #cacaca;
    text-align: center;
    line-height: 40px;
    float: left;
    width: calc(20% - 1px);
    height: 40px;
    font-size: 1.2em;
  }
  .main .main-top-bar .bar-sm .bar-sm-btn:hover {
    background-color: orange;
    color: #FAFBFD;
  }
  .main .main-top-bar .bar-sm .bar-sm-btn:not(:last-child) {
    border-right: 1px solid #959595;
  }
  .main .main-top-bar .bar-sm .bar-sm-btn:last-child {
    width: 20%;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu {
    position: relative;
    z-index: 5;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu:hover ul {
    height: 163px;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu ul {
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease;
    position: absolute;
    left: 0;
    top: 22px;
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu ul li {
    background-color: #cacaca;
    color: black;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu ul li:hover {
    background-color: #b3b3b3;
    color: #FAFBFD;
  }
  .main .main-top-bar .bar-sm .bar-sm-menu ul li:not(:last-child) {
    border-bottom: 1px solid #959595;
  }
  .main .main-top-bar .bar-title {
    text-align: center;
    padding: 10px;
  }
  .main .main-top-bar .bar-btn {
    display: none;
  }
  .main .main-top-bar .bar-lock {
    display: none;
  }
}

.main .main-top-bar .bar-sm {
  display: none;
}

@media screen and (max-width: 600px) {
  .main .main-top-bar .bar-sm {
    display: block;
  }
}

.main .main-top-bar .bar-btn {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 768px) {
  .main .main-top-bar .bar-btn .bar-click:first-child {
    padding-left: 20px;
  }
}

.main .main-top-bar .bar-btn .bar-click {
  display: inline-block;
  cursor: pointer;
  padding: 15px 10px;
}

.main .main-top-bar .bar-btn .bar-ico {
  background-color: #cacaca;
  border-right: 1px solid #959595;
}

.main .main-top-bar .bar-btn .bar-ico:hover {
  background-color: orange;
}

.main .main-top-bar .bar-btn .bar-ico i {
  margin: 0 5px;
}

.main .main-top-bar .bar-title {
  font-weight: bold;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.main .main-top-bar .bar-lock {
  margin-right: 20px;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.main .inner-wrapper {
  width: 85%;
  margin: 0 auto;
}

.main .inner-wrapper .inner-header {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1002px) {
  .main .inner-wrapper .inner-header {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .inner-wrapper .inner-header .company {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .inner-wrapper .inner-header .double-btn {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .main .inner-wrapper .inner-header .qrc {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main .inner-wrapper .inner-header .company {
  width: 355px;
  height: 54px;
  background-image: url("../img/logo.jpg");
  background-size: 100% 100%;
}

@media screen and (max-width: 480px) {
  .main .inner-wrapper .inner-header .company {
    width: 100%;
  }
}

.main .inner-wrapper .inner-header .double-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 270px) {
  .main .inner-wrapper .inner-header .double-btn {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .inner-wrapper .inner-header .double-btn .h-btn:first-child {
    margin-bottom: 10px;
  }
}

.main .inner-wrapper .inner-header .double-btn .h-btn {
  width: 92px;
  height: 35px;
  background: #0a0f51;
  background: linear-gradient(#164176 44%, #0a0f51 56%);
  border-radius: 5px;
  border: none;
  color: #FAFBFD;
}

.main .inner-wrapper .inner-header .double-btn .h-btn:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 270px) {
  .main .inner-wrapper .inner-header .double-btn .h-btn:first-child {
    margin-right: 0;
  }
}

.main .inner-wrapper .inner-header .qrc {
  width: 75px;
  height: 75px;
  line-height: 75px;
  background-image: url("../img/qrc.jpg");
  text-align: center;
  background-size: 100% 100%;
  position: relative;
}

.main .inner-wrapper .inner-header .qrc span {
  display: none;
  position: relative;
}

.main .inner-wrapper .inner-header .qrc span .qrc-hide {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  transition: all 1s ease;
  background-image: url("../img/qrc.jpg");
  background-size: 100% 100%;
}

@media screen and (max-width: 1002px) {
  .main .inner-wrapper .inner-header .qrc {
    width: 100%;
    background-image: none;
  }
  .main .inner-wrapper .inner-header .qrc span {
    display: block;
    cursor: pointer;
  }
  .main .inner-wrapper .inner-header .qrc span:hover {
    color: red;
  }
  .main .inner-wrapper .inner-header .qrc span:hover .qrc-hide {
    width: 200px;
    height: 200px;
  }
}

.main .inner-wrapper .inner-header .qrc:after {
  position: absolute;
  content: "手机扫码体验";
  top: 50px;
  left: 2px;
  font-size: 10px;
}

@media screen and (max-width: 1002px) {
  .main .inner-wrapper .inner-header .qrc:after {
    content: "";
  }
}

.main .inner-wrapper h1 {
  border-top: 1px solid #0a0f51;
  margin-top: 50px;
  padding-top: 10px;
  font-family: Microsoft YaHei;
  text-align: center;
  color: #0a0f51;
  position: relative;
}

@media screen and (max-width: 480px) {
  .main .inner-wrapper h1 {
    font-size: 1.5em;
  }
}

.main .inner-wrapper h1:after {
  cursor: pointer;
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -40px;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-bottom: 20px solid #0a0f51;
}

.main .inner-wrapper .show {
  width: 100%;
  height: 400px;
  z-index: -10;
  overflow-x: scroll;
  overflow-y: hidden;
}

.main .inner-wrapper .show .tank {
  margin-top: 30px;
  width: 190px;
  height: 275px;
  background-color: #E0E0E0;
  position: relative;
}

.main .inner-wrapper .show .tank:after, .main .inner-wrapper .show .tank:before {
  z-index: 0;
  position: absolute;
  content: "";
  left: 0;
  width: 190px;
  height: 60px;
  border-radius: 50%;
  background-color: #E0E0E0;
}

.main .inner-wrapper .show .tank:before {
  top: -30px;
}

.main .inner-wrapper .show .tank:after {
  bottom: -30px;
}

.main .inner-wrapper .show .tank .measure1 {
  position: absolute;
  top: 2.5px;
  left: 20px;
  width: 65px;
  height: 270px;
  background-color: #959595;
}

.main .inner-wrapper .show .tank .measure1 .liquid-height {
  z-index: 4;
  width: 100%;
  height: 60px;
  background-color: #4BFFFE;
  position: absolute;
  bottom: 0;
}

.main .inner-wrapper .show .tank .measure1 ul {
  position: absolute;
  right: 0;
  z-index: 5;
  list-style: none;
  padding: 0;
}

.main .inner-wrapper .show .tank .measure1 ul li {
  width: 6px;
  height: 1px;
  background-color: #FAFBFD;
}

.main .inner-wrapper .show .tank .measure1 ul li:not(:last-child) {
  margin-bottom: 23px;
}

.main .inner-wrapper .show .tank .measure1 ul li:nth-child(1), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(6), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(11) {
  width: 12px;
}

.main .inner-wrapper .show .tank .measure1 ul li:nth-child(2), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(3), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(4), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(5), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(7), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(8), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(9), .main .inner-wrapper .show .tank .measure1 ul li:nth-child(10) {
  margin-left: 6px;
}

.main .inner-wrapper .show .tank .measure1 ul li:nth-child(1):after {
  content: "100";
  position: absolute;
  right: 20px;
  margin-top: -8px;
}

.main .inner-wrapper .show .tank .measure1 ul li:nth-child(6):after {
  content: "50";
  position: absolute;
  right: 20px;
  margin-top: -8px;
}

.main .inner-wrapper .show .tank .measure1 ul li:nth-child(11):after {
  content: "0";
  position: absolute;
  right: 20px;
  margin-top: -8px;
}

.main .inner-wrapper .show .tank .measure2 {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #959595;
  top: 2.5px;
  left: 105px;
}

.main .inner-wrapper .show .tank .measure2 .measure-number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .inner-wrapper .show .tank .bar1 {
  position: absolute;
  left: 230px;
  top: 26px;
  width: 388px;
  height: 18px;
  background: #426390;
  background: linear-gradient(#426390 44%, #174073 56%);
}

.main .inner-wrapper .show .tank .bar1 span {
  position: absolute;
  top: -35px;
  right: 50px;
}

.main .inner-wrapper .show .tank .bar2 {
  position: absolute;
  left: 190px;
  top: 213px;
  width: 428px;
  height: 18px;
  background: #7b7c7e;
  background: linear-gradient(#7b7c7e 44%, #57585a 56%);
}

.main .inner-wrapper .show .tank .bar1:after, .main .inner-wrapper .show .tank .bar2:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 30px;
  background: linear-gradient(black, white, black);
  border: 1px solid #FAFBFD;
  right: -6px;
  top: -7px;
}

.main .inner-wrapper .show .tank .roll-plate {
  position: absolute;
  left: 265px;
  top: 44px;
  z-index: 5;
  width: 312px;
  height: 169px;
}

.main .inner-wrapper .show .tank .roll-plate ul {
  position: absolute;
  top: 0;
  list-style: none;
  margin-left: 24px;
  margin-top: 0;
  padding: 0;
}

.main .inner-wrapper .show .tank .roll-plate ul li {
  display: inline-block;
  width: 10px;
  height: 169px;
  background: gray;
  background: linear-gradient(90deg, black, white, black);
}

.main .inner-wrapper .show .tank .roll-plate ul li:not(:last-child) {
  margin-right: 72px;
}

.main .inner-wrapper .show .tank .roll-plate ul li:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 5px;
  bottom: 3px;
  margin-left: -5px;
  background-color: black;
}

.main .inner-wrapper .show .tank .roll-plate ul li:nth-child(1):before {
  content: "#1";
  position: absolute;
  bottom: -40px;
}

.main .inner-wrapper .show .tank .roll-plate ul li:nth-child(2):before {
  content: "#2";
  position: absolute;
  bottom: -40px;
}

.main .inner-wrapper .show .tank .roll-plate ul li:nth-child(3):before {
  content: "#3";
  position: absolute;
  bottom: -40px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape {
  width: 58px;
  margin-left: -24px;
  background: gray;
  background: linear-gradient(90deg, black, white, black);
  position: relative;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape:after, .main .inner-wrapper .show .tank .roll-plate ul li .roll-shape:before {
  position: absolute;
  left: 0;
  content: "";
  width: 58px;
  height: 16px;
  background: gray;
  background: linear-gradient(90deg, black, white, black);
  border-radius: 50%;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape:after {
  top: -8px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape:before {
  bottom: -8px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape .black-bar-plate {
  position: absolute;
  z-index: 10;
  top: 3px;
  width: 42px;
  height: calc(100% - 6px);
  margin-left: 8px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape .black-bar-plate span {
  display: inline-block;
  width: 6px;
  height: 100%;
  background-color: black;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll-shape .black-bar-plate span:not(:last-child) {
  margin-right: 6px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll1, .main .inner-wrapper .show .tank .roll-plate ul li .roll2, .main .inner-wrapper .show .tank .roll-plate ul li .roll3 {
  height: 65px;
  margin-top: 47px;
}

.main .inner-wrapper .show .tank .roll-plate ul li .roll4 {
  height: 55px;
  margin-top: 66px;
}
